[Unit]
Description=Chip Webcam

[Service]
Type=simple
ExecStart=/usr/bin/nodejs /var/www/webcam/webcam.js
Restart=no
RestartSec=2
StandardOutput=syslog
SyslogIdentifier=server
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin:/bin
WorkingDirectory=/var/www/webcam
# do this first: sudo adduser chip i2c
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
